.container {
  box-sizing: border-box;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.5);
  width: 35%;
  justify-content: center;
  margin: auto;
  background-color: aqua;
  margin-top: 20px;

  border-radius: 5px;
}
div {
  padding: 10px;
}
a {
  float: right;
  background-color: darkgray;
  width: 100px;
  border-radius: 5px;
  height: 33px;
  margin: auto;
  padding-left: 25px;
  text-decoration: none;
  font-size: 20px;
}
a:hover {
  text-decoration: none;
  background-color: bisque;
}
input {
  float: right;
  border-radius: 5px;
}
h1 {
  justify-content: center;
  align-items: center;
  margin: auto;
}
button {
  margin-top: 5px;
  border-radius: 5px;
  width: 150px;
}
